.ModalContainer {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.ModalContent {
  width: 350px;
  background-color: white;
}

.ModalHeader,
.ModalFooter {
  padding: 10px;
}

.ModalTitle {
  margin: 0;
}

.ModalBody {
  padding: 10px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.Wrap {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  justify-content: space-between;
}

.Wrap p {
  margin: 0;
}

.Input {
  height: 20px;
  margin-left: 8px;
}

.Button {
  border: solid 1px rgba(0, 0, 0, 0.336);
  cursor: pointer;
  width: 50px;
}
